* {
    margin: 0;
    padding: 0;
}

header {
    margin: 10px 3%;
    padding: 20px 0;
    border: 2px dashed blue;
    border-radius: 25px;
}

header > h1 {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    width: 100%;
    color: blue;
}

nav {
    width: 92%;
    margin: 0 4%;
}

nav > ul {
    list-style: none;
    text-align: center;
}

nav > ul > li {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    width: 20%;
    border: 2px solid blue;
    border-radius: 5px;
    text-align: center;
    vertical-align: top;
}

nav > ul > li:hover {
    background-color: lightgreen;
    border: 2px solid green;
}

nav > ul > li > a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

section p {
    text-align: left;
    margin: 5px;
    color: black;
}

footer {
    color: black;
    margin: 10px 2% 0 2%;
    padding: 10px 0;
    text-align: center;
    border: 2px solid blue;
    border-radius: 15px;
}