*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  text-align: center;
}

fieldset {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  margin: 1%;
  border: 1px dashed red;
}

fieldset:nth-of-type(2) legend {
  color: black;
  font-weight: bold;
  margin: 0 auto 0 0;
}

fieldset:nth-of-type(1) legend {
  color: black;
  font-weight: bold;
  margin: 0 0 0 auto;
}

fieldset:nth-of-type(1) legend,
fieldset:nth-of-type(2) legend {
  color: black;
  font-weight: bold;
}

h1 {
  text-decoration: line-through;
  font-weight: bold;
}

@keyframes btn-hover {
  to {
    background-color: green;
    color: black;
  }
}

input[type="submit"] {
  text-decoration: underline;
  background-color: red;
  color: white;
  width: 45%;
  padding: 10px 0;
  border-radius: 4px;
  transform: rotate(10deg);
  transition: background-color 3s, color 3s;
}

input[type="submit"]:hover {
  animation: btn-hover 3s forwards;
}
